<h1>Listing workstations</h1>


<table class="table table-striped table-bordered">
  <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "model" %></th>
    <th><%= sortable "OS" %></th>
    <th><%= sortable "serial" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workstations.each do |workstation| %>
  <tr>
    <td><%= link_to workstation.name, workstation %></td>
    <td><%= workstation.model %></td>
    <td><%= workstation.OS %></td>
    <td><%= workstation.serial %></td>
    <td><%= link_to 'Show', workstation, :class => 'btn btn-mini' %></td>
    <td><%= link_to 'Edit', edit_workstation_path(workstation), :class => 'btn btn-mini' %></td>
    <td><%= link_to 'Destroy', workstation, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Workstation', new_workstation_path, :class => 'btn' %>

<%= form_tag import_workstations_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
<% end %>
